body {
	max-width: 1116px;
	margin-right: auto;
	margin-left: auto;
}

.title {
    color: #FFFFFF;
    background-color: #33BEBE;
    padding-left: 25px;
    padding-top: 35px;
    font-family: Arial;
    font-size: 3.5em;
    font-weight: lighter;
}

.app {
    display: -webkit-flex;
    display: flex;
}

.description {
	color: #7C8B88;
	max-width: 705px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 1.4em;
	text-align: justify;
}

.screenshot {
	max-width: 381px;
	margin-right: 30px;
}

/* * {
   outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
